* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../第三批/Effects/body.png");
}

.top-line {
    height: 30px;
    background-color: black;
    display: flex;
}

.top-line-font {
    margin:0 auto;
    width: 80%;
    line-height: 30px;
}

.top-Select-block {
    margin:0 auto;
    width: 78%;
    height: 130px;
    display: flex;
    align-items: center;
}

.top-Select-block-left {
    display: flex;
    width: 33%;
    justify-content: space-between;
}

.top-Select-block-logo {
    width: 34%;
    text-align: center;
}

.top-Select-block-logo img{
    width: 100px;
    height: 100px;
}

.Search-Boxes {
    width: 33%;
    display: flex;
    column-gap: 15px;
}

.Search-Boxes input{
    background:transparent;
    border: 1px solid #ccc;
    width: 80%;
    height: 25px;
    box-shadow: -1px -1px 1px #e0e0e0, 1px 1px 1px #fff;
}

.Search-Boxes a {
    text-decoration: none;
}

.top-name-info {
    background-color: #CC3333;
    height: 140px;
    align-items: center;
    display: flex;
    box-shadow: 0 3px 3px 0 black inset;
    border-top: 2px white;
    border-bottom: 2px white;
}

.top-name-info-left {
    margin:0 auto;
    width: 80%;
}
