* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../第三批/Effects/body.png");
}

.top-line {
    height: 30px;
    background-color: black;
    display: flex;
}

.top-line-font {
    margin:0 auto;
    width: 80%;
    line-height: 30px;
}

.top-Select-block {
    margin:0 auto;
    width: 78%;
    height: 130px;
    display: flex;
    align-items: center;
}

.top-Select-block-left {
    display: flex;
    width: 33%;
    justify-content: space-between;
}

.top-Select-block-logo {
    width: 34%;
    text-align: center;
}

.top-Select-block-logo img{
    width: 100px;
    height: 100px;
}

.Search-Boxes {
    width: 33%;
    display: flex;
    column-gap: 15px;
}

.Search-Boxes input{
    background:transparent;
    border: 1px solid #ccc;
    width: 80%;
    height: 25px;
    box-shadow: -1px -1px 1px #e0e0e0, 1px 1px 1px #fff;
}

.Search-Boxes a {
    text-decoration: none;
}

.top-name-info {
    background-color: #CC3333;
    height: 140px;
    align-items: center;
    display: flex;
    box-shadow: 0 3px 3px 0 black inset;
    border-top: 2px white;
    border-bottom: 2px white;
}

.top-name-info-left {
    margin:0 auto;
    width: 45%;
}

.top-name-info-right {
    margin:0 auto;
    width: 15%;
}

.top-name-info-right input {
    width: 100%;
    height: 60px;
    background-color: #c00327;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 3px 0 #93021e;
    transition: box-shadow 2s;
}

.top-name-info-right input:hover {
    box-shadow: 0 2px 3px 0 #93021e inset;
}

.top-name-info-right input:active {
    box-shadow: 0 6px 6px 0 #93021e inset;
}

/*sidebar*/

aside {
    width: 63%;
    float: left;
    margin: 0 0 0 10%;
}

.main-content {
    width: 100%;
}

.Limited-Discount {
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: bold;
    margin: 0 auto;
}

.Item-Description {
    width: 100%;
    font-family: 'ptsans';
    margin: 0 auto;
    word-break: break-all;
    text-align: justify;
}

.Item-Description img {
    float: right;
    width: 206.88px;
    height: 206.88px;
    margin: 0 12px 12px 12px;
    border-radius: 5%;
}

.main-previews {
    width: 100%;
}

.previews {
    display: flex;
    justify-content: space-between;
    height: 115px;
}


.more-previews {
    width: 45%;
    background-color: #fac7d2;
    border-radius: 3%;
    height: 80px;
}

.Top-Reviews {
    width: 100%;
}

.reviews {
    display: flex;
    height: 60px;
    padding-top: 10px;
}

/*content*/
main {
    width: 25%;
    float: right;
}

/*右边侧栏*/
.about-board {
    width: 100%;
    align-items: center;
}

.recommends-img img {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    margin-top: 10px;
}

footer {
    clear: both;
}

.bottom-footer-color {
    background-color: #cccccc;
}

.bottom-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 400px 300px;
    justify-items: center;
    margin: 0 auto;
}

.follow-us {

}

.Nemsletter {
    word-break: break-all;
    text-align: justify;
    width: 270px;
}

.Nemsletter .Search-Boxes {
    width: 270px;
}

.Nemsletter .Search-Boxes input:nth-child(1){
    background-color: #fff;
    width: 100%;
}

.Nemsletter .Search-Boxes input:nth-child(2){
    background-color: #fff;
}

.Refund-Policy {
    word-break: break-all;
    text-align: justify;
}

/*分辨率为720时*/
@media screen and (max-width: 720px) {
    .main-content {
        width: 95%;
        margin: 0 auto;
    }
}

/*小于700就跑路*/
@media screen and (max-width: 700px) {
    * {
        background-color: #dc001e;
    }

    body .run {
        display: flex;
    }

    header {
        display: none;
    }

    aside {
        display: none;
    }

    main {
        display: none;
    }
}

.run {
    display: none;
}
