@font-face {
    font-family: 'ptsans';
    src: url("../第三批/Fonts/ptsans.woff");
}

@font-face {
    font-family: 'pacifico';
    src: url("../第三批/Fonts/pacifico.woff");
}

.font-white {
    color: #fff;
    font-family: 'ptsans';
}

.font-grey {
    color: #868686;
    font-family: 'ptsans';
}

.font-grey:nth-child(3) {
    color: #868686;
    font-family: 'ptsans';
    float: right;
}

.font-red {
    color: #dc001e;
    font-family: 'ptsans';
}

.font-white-pacifico {
    color: #fff;
    font-family: 'pacifico';
    font-size: 42px;
}

.top-name-info-right .font-white {
    width: 100%;
    color: #fff;
    font-family: 'ptsans';
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.Limited-Discount .font-grey {
    color: #ababab;
    font-family: 'ptsans';
    text-decoration: line-through;
    padding-left: 8px;
    padding-right: 8px;
}

.font-black {
    color: #000;
    font-family: 'pacifico';
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 70px;
}

.more-previews .font-black {
    color: #000;
    font-family: 'pacifico';
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 50px;
}
.more-previews .font-black-small {
    font-size: 4px;
    display: flex;
    align-items: center;
}

.Top-Reviews .font-black {
    color: #000;
    font-family: 'pacifico';
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: auto;
}

.grey-QuotationMarks {
    color: #dddddd;
    font-family: 'ptsans';
    font-size: 180px;
    position: relative;
    top: -40px;
}

.reviews p {
    color: #696969;
    font-style: oblique;
    align-items: center;
    display: flex;
    word-break:break-all;
}

.about .font-black {
    color: #000;
    font-family: 'pacifico';
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 60px;
}

.about .font-black-small {
    width: 60%;
    color: #000;
    font-family: 'ptsans';
    text-align: justify;
    font-size: 14px;
}

.grey-line {
    width: 60%;
    border-bottom: 1px dashed #696969;
    height: 20px;
}

.Recommends .font-black {
    color: #000;
    font-family: 'pacifico';
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 50px;
}

.Recommends p {
    color: #000;
    text-align: center;
    width: 60%;
    font-size: 10px;
}

.bottom-footer .font-black {
    font-size: 20px;
}

.bottom-footer .font-black-small {
    font-size: 13px;
    font-family: 'ptsans';
}

.more-previews .sticker {
    font-size: 10px;
    font-family: 'ptsans';
    color: #fff;
}

.onsale {
    font-size: 12px;
    font-family: 'ptsans';
    color: #fff;
    line-height: 25px;
    text-align: center;
}

.side-text {
    font-family: 'ptsans';
}

.side-text-title {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.side-text-info {
    padding-left: 15px;
    padding-top: 5pxC;
    width: 100%;
}
